body {
  color: #eee;
  background-color: #222;
  font-family: sans-serif;
  font-size: 0.9em;
}

.Dashboard {
  display: flex;
}

.NotesList, .NoteView {
  flex: 1;
  height: 100vh;
}

.NotesList {
  display: flex;
  flex-direction: column;
  flex: 0 0 15rem;
  background-color: #262626;
  border-right: 2px solid #000;
}

.NoteListItem {
  padding: 5px 20px;
  border-bottom: 1px solid #666;
  cursor: pointer;
}

.NoteListItem:hover {
  background-color: #444;
}

.NoteListItem .NoteTitle {
  font-size: 0.95em;
  font-weight: bold;
}

.NoteListItem .NoteTimestamp {
  font-size: 0.8em;
}

.NoteTitle {
  margin-bottom: -0.5em;
}

.selectedNote {
  background-color: #444;
}

.NewNoteButton {
  margin: auto auto 0 auto;
  cursor: pointer;
}

.NewNoteButton p:hover {
  color: white;
}

.NewNoteButton p {
  background-color: #444;
  display: inline-block;
  padding: 10px 20px;
}